<!-- With help from source: https://www.bootdey.com/snippets/view/bs4-todo-list#html  -->

{% extends 'base.html' %}
{% block content %}

   
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                  <h3>User Habits</h3>
                  <div>
                    <button type="button" class="create-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Create New Habit</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Habit</h5>
                            <button type="button" class="x close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/habit" method="POST" id="create_habit-form">
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" name="title" id="recipient-name">
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" name="description" id="message-text"></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="cta-close btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="cta-btn btn btn-primary">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <ul class="nav nav-pills todo-nav">
                        <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a></li>
                        <li role="presentation" class="nav-item active-task"><a href="#" class="nav-link">Active</a></li>
                        <li role="presentation" class="nav-item completed-task"><a href="#" class="nav-link">Completed</a></li>
                    </ul>
                    <div class="todo-list">
                      {% for habit in habits %} 
                        <div class="todo-item" >
                          <div class="checker"><span ><input type="checkbox"></span></div>
                          <div class="touch-cell" data-toggle="modal" data-target="#show-habit-modal" data-title="{{habit.title}}" data-description="{{habit.description}}" >
                            <span id="title">{{habit.title}}</span><a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                          </div>
                          <div class="widget-content-right">
                            <button type="submit" value="{{habit.pk}}" class="delete-btn border-0 btn-transition btn btn-outline-danger" ><i class="fa fa-trash"></i> 
                            </button>
                          </div>
                        </div>

                        <!-- Showing habit modal -->
                        <div class="modal fade" id="show-habit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" ></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <span></span>
                              </div>
                              <div class="modal-footer" >
                                <button type="button" class="update-btn btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editmodal" >Edit</button>
                              </div>
                            </div>
                          </div>
                        </div>


                        <!-- modal to edit -->
                        <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Habit</h5>
                                <button type="button" class="x close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body" >
                                <form action="/habit" method="POST" id="create_habit-form">
                                  <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Title:</label>
                                    <input type="text" class="title form-control" name="title" id="title" >
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    <textarea class="form-control" name="description" id="description" ></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="cta-btn btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
body {
  margin-top: 5rem;
  background: #c4e1f1;
}

.todo-nav {
  margin-top: 10px
}

.todo-list {
  margin: 10px 0
}

.todo-list .todo-item {
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
  background: #f7f7f7
}

.todo-list .todo-item svg {
  display: flexbox;
}

.todo-list.only-active .todo-item.complete {
  display: none
}

.todo-list.only-active .todo-item:not(.complete) {
  display: block
}

.todo-list.only-complete .todo-item:not(.complete) {
  display: none
}

.todo-list.only-complete .todo-item.complete {
  display: block
}

.todo-list .todo-item.complete span {
  text-decoration: line-through
}

.remove-todo-item {
  color: #ccc;
  visibility: hidden
}

.remove-todo-item:hover {
  color: #5f5f5f
}

.todo-item:hover .remove-todo-item {
  visibility: visible
}

div.checker {
  width: 18px;
  height: 18px
}

div.checker input,
div.checker span {
  width: 18px;
  height: 18px
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  text-align: center;
  background-position: 0 -260px;
}

div.checker, div.checker input, div.checker span {
  width: 19px;
  height: 19px;
}

div.checker, div.radio, div.uploader {
  position: relative;
}

div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
  margin: 0;
  padding: 0;
}

div.button, div.checker, div.radio, div.selector, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.card {
  padding: 25px;
  margin-bottom: 20px;
  border: initial;
  background: #fff;
  border-radius: calc(.15rem - 1px);
  box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}

h3 {
  color: #5f5f5f;
}

.widget-content-right {
  float: right;
}

.create-btn {
  float: right;
}

.touch-cell {
  display: inline-block;
  width: 88%;
}

</style>

<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script type="text/javascript" >


$( document ).ready(function() {
    
  "use strict";
    var todo = function() { 
        $('.todo-list .todo-item input').click(function() {
        if($(this).is(':checked')) {
            $(this).parent().parent().parent().toggleClass('complete');
        } else {
            $(this).parent().parent().parent().toggleClass('complete');
        }
    });
    $('.todo-nav .all-task').click(function() {
        $('.todo-list').removeClass('only-active');
        $('.todo-list').removeClass('only-complete');
        $('.todo-nav li.active').removeClass('active');
        $(this).addClass('active');
    });
    $('.todo-nav .active-task').click(function() {
        $('.todo-list').removeClass('only-complete');
        $('.todo-list').addClass('only-active');
        $('.todo-nav li.active').removeClass('active');
        $(this).addClass('active');
    });
    $('.todo-nav .completed-task').click(function() {
        $('.todo-list').removeClass('only-active');
        $('.todo-list').addClass('only-complete');
        $('.todo-nav li.active').removeClass('active');
        $(this).addClass('active');
    });
    $('#uniform-all-complete input').click(function() {
        if($(this).is(':checked')) {
            $('.todo-item .checker span:not(.checked) input').click();
        } else {
            $('.todo-item .checker span.checked input').click();
        }
    });
    $('.widget-content-right').click(function() {
        $(this).parent().remove();
    });
    };
    todo();
    $(".add-task").keypress(function (e) {
        if ((e.which == 13)&&(!$(this).val().length == 0)) {
            $('<div class="todo-item"><div class="checker"><span class=""><input type="checkbox"></span></div> <span>' + $(this).val() + '</span> <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a></div>').insertAfter('.todo-list .todo-item:last-child');
            $(this).val('');
        } else if(e.which == 13) {
            alert('Please enter new task');
        }
        $(document).on('.todo-list .todo-item.added input').click(function() {
            if($(this).is(':checked')) {
                $(this).parent().parent().parent().toggleClass('complete');
            } else {
                $(this).parent().parent().parent().toggleClass('complete');
            }
        });
        $('.todo-list .todo-item.added .remove-todo-item').click(function() {
            $(this).parent().remove();
        });
    });
});

var handleDelete = function(habit_id) {
  $.ajax({
    url: '/habit/' + habit_id,
    type: 'delete',
    data: { value: habit_id },
    success: function() {
      console.log("Habit Deleted Successfully")
    }
  });
}

var handleUpdate = function(habit_id, habit_title, habit_description) {
  $.ajax({
    url: '/habit/' + habit_id,
    type: 'put',
    data: {habit_id:habit_title, habit_description}
  })
}

$('.delete-btn').click(function() {
  var val = $(this).val();
  handleDelete(val);
});

$('#exampleModal').on('show.bs.modal', function (event) {
  console.log("Showing Modal")
});

$('.cta-btn').click(function() {
  $('#create_habit-form').submit();
});

$('.x').click(function() {
  document.getElementById('create_habit-form').reset();
})

$('.cta-close').click(function() {
  document.getElementById('create_habit-form').reset();
});

$('.touch-cell').click(function() {
  $('#show-habit-modal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget)
    var title = button.data("title")
    var description = button.data("description")
    var modal = $(this)
    modal.find('.modal-title').text(title)
    modal.find('.modal-body span').text(description)
  });
});

$('.update-btn').click(function() {
  $('#editmodal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget)
    var modal = $(this)
    var title = modal.find('#title').val()
    var description = modal.find('#description').val()
  });
});


</script>


{% endblock %}
