<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet/css" href="{{ url_for('static', filename='auth.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <title>Level Up</title>
</head>
<body>

  {% block content %}
  {% endblock %}
  
 <script >
  console.clear();

  const loginBtn = document.getElementById('login');
  const signupBtn = document.getElementById('signup');
  
  loginBtn.addEventListener('click', (e) => {
    console.log(e.target);
    let parent = e.target.parentNode.parentNode;
    Array.from(e.target.parentNode.parentNode.classList).find((element) => {
      if(element !== "slide-up") {
        parent.classList.add('slide-up')
      }else{
        signupBtn.parentNode.classList.add('slide-up')
        parent.classList.remove('slide-up')
      }
    });
  });
  
  signupBtn.addEventListener('click', (e) => {
    let parent = e.target.parentNode;
    Array.from(e.target.parentNode.classList).find((element) => {
      if (element !== "slide-up") {
        parent.classList.add('slide-up')
      } else {
        loginBtn.parentNode.parentNode.classList.add('slide-up')
        parent.classList.remove('slide-up')
      }
    });
  });

 </script>
 
</body>
</html>
